@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color1: #F5D019;
    --color2: #CAB236;
    --color3: #A09145;
    --color4: #4B4839;
    --color5: #33322C
}

body{
    font-family: quantico;
}
.logo{
    height: 50px;
}
.links-container{
    height: 0;
    overflow: hidden;
}
.links{
    background: ;
    color: ;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: ;
    display: block;
    transition: ;
    font-weight: bold;
    padding: 0.75rem 0;
}