@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxanium:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oxanium', cursive;
}
header{
    background-color: #AFA060;
    padding: 15px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
        

}
nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: #323232;
}

#endereco{
    text-align: center;    
    background-color: #323232;
    color: #AFA060;

}

#carne{
    background-image: url('img/Carne.png');
    text-align: center;
    height: 97vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    
}
.banner{
    margin-top: 30vh;
    font-size: 3vh;
    color: white;
}

.banner input{
    background-color: #AFA060;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}

section.restaurante{
    background-image: url(img/restaurante.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 97vh;
    padding: 40px;
    color: #cab866;
    text-align: center;
}

.txtrest1 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 10vh;
    font-weight: bolder;
}
.txtrest1 h1{
    font-size: 5vh;
    margin-top: 10vh;
}

.txtrest2 ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 5vh;
}
#reserva{
    background-image: url(img/reserva.png);
    height: 97vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 80px;
}
.res1{
    margin-top: 20vh;
    color: white;
    font-size: 3vh;
}
.botao{
    background-color: white;
    color: black;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}
#txtcuriosidade{
    background-image: url(img/curiosidade.png);
    height: 97vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 90px;
    
}
.curiosidade1 h1{
    margin-top: 10vh;
    color: #AFA060;
    font-size: 5vh;
}
.curiosidade1 p{
    color: #AFA060;
    max-width: 70%;
    margin: auto;
    font-size: 2vh;
}
#drink{
    background-image: url(img/drink.png);
    height: 97vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px;
}
.drink1 h1{
    color: white;
    font-size: 5vh;
    margin-top: 10vh;
}
.drink1 p{
    color: white;
    max-width: 70%;
    margin: auto;
    font-size: 2vh;
    margin-top: 1vh;
}
footer{
    background-color: #323232;
    color: #AFA060;
    text-align: center;
    padding: 20px;
}